<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <!--Portrait-->
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.nom}}" height="100" width="100"/>

        <div class="header-fields">
            <!--Nom-->
            <h1 class="charname">
                <input name="nom" type="text" value="{{data.nom}}" placeholder="Nom" />
            </h1>

            <div class="resource">
                <!--XP-->
                <div class="ressource-element" style="width: 80px;">
                    <label for="system.xp.value" class="resource-label">XP</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.xp.value" value="{{systemData.xp.value}}"/>
                    </div>
                </div>
                
                <!--Etourdissement-->
                <div class="ressource-element" style="width: 100px;">
                    <label for="system.stun.value" class="resource-label">Etourdissement</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.stun.value" value="{{systemData.stun.value}}" data-dtype="Number"/>
                    </div>
                </div>

                <!--Profession-->
                <div class="ressource-element" style="width: 150px;">
                    <label for="system.profession.value" class="resource-label">Profession</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input name="profession" type="text" value="{{system.profession}}" placeholder="Profession" />
                    </div>
                </div>
                
                <!--Race-->
                <div class="ressource-element" >
                    <label for="system.race.value" class="resource-label">Race</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input name="race" type="text" value="{{system.race}}" placeholder="Race" />
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Compétences</a>
        <a class="item" data-tab="items">Objets</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <!--Damages-->
            <div style="display: flex;">
                <img class="img" src="systems/stargatecoalition/icons/degats.svg" title="degats" height="400" width="300"/>

                <table class="health-table">
                    <tr>
                      <th>Numéro</th>
                      <th>Partie du corps</th>
                      <th>Dégâts</th>
                    </tr>
    
                    <tr>
                      <td>2</td>
                      <td>{{data.health.head.label}}</td>
                      <td><input class="attribute-input flex-center" type="text" name="data.health.head.label" value="{{data.health.head.value}}" data-dtype="Number" placeholder="0"/></td>
                    </tr>
                </table> 
            </div>

            <!--Biographie-->
            <div style="width: 100%;">
                <label for="system.biographie" class="label">Biographie</label>
                <div class="long-text">
                    {{editor biographyHTML target="system.biographie" button=true editable=editable engine="prosemirror"}}
                </div>
            </div>

            <a class="attribute-roll" data-label="{{data.attributes.strength.label}}" data-roll="{{data.attributes.strength.value}}"><i class="fas fa-dice-d20"></i></a>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <table class="attributes-table">
                <tr>
                  <th>Nom</th>
                  <th>Score</th>
                  <th>Modif.</th>
                  <th>Score temp.</th>
                  <th>Modif. temp.</th>
                </tr>

                <tr>
                  <td>Force</td>
                  <td><input class="attribute-input flex-center" type="text" name="data.attributes.strength.value" value="{{data.attributes.strength.value}}" data-dtype="Number" placeholder="0"/></td>
                  <td><input class="attribute-input flex-center" type="text" name="data.attributes.strength.modifier" value="{{data.attributes.strength.modifier}}" data-dtype="Number" placeholder="0"/></td>
                  <td><input class="attribute-input flex-center" type="text" name="data.attributes.strength.tempModifier" value="{{data.attributes.strength.tempModifier}}" data-dtype="Number" placeholder="0"/></td>
                  <td><input class="attribute-input flex-center" type="text" name="data.attributes.strength.tempValue" value="{{data.attributes.strength.tempValue}}" data-dtype="Number" placeholder="0"/></td>
                </tr>

                <tr>
                    <td>Dexterité</td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.dexterite.value" value="{{data.attributes.dexterite.value}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.dexterite.modifier" value="{{data.attributes.dexterite.modifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.dexterite.tempModifier" value="{{data.attributes.dexterite.tempModifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.dexterite.tempValue" value="{{data.attributes.dexterite.tempValue}}" data-dtype="Number" placeholder="0"/></td>
                </tr>

                <tr>
                    <td>Constitution</td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.constitution.value" value="{{data.attributes.constitution.value}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.constitution.modifier" value="{{data.attributes.constitution.modifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.constitution.tempModifier" value="{{data.attributes.constitution.tempModifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.constitution.tempValue" value="{{data.attributes.constitution.tempValue}}" data-dtype="Number" placeholder="0"/></td>
                </tr>

                <tr>
                    <td>Astuce</td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.astuce.value" value="{{data.attributes.astuce.value}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.astuce.modifier" value="{{data.attributes.astuce.modifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.astuce.tempModifier" value="{{data.attributes.astuce.tempModifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.astuce.tempValue" value="{{data.attributes.astuce.tempValue}}" data-dtype="Number" placeholder="0"/></td>
                </tr>

                <tr>
                    <td>Intelligence</td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.intelligence.value" value="{{data.attributes.intelligence.value}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.intelligence.modifier" value="{{data.attributes.intelligence.modifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.intelligence.tempModifier" value="{{data.attributes.intelligence.tempModifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.intelligence.tempValue" value="{{data.attributes.intelligence.tempValue}}" data-dtype="Number" placeholder="0"/></td>
                </tr>

                <tr>
                    <td>Perception</td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.perception.value" value="{{data.attributes.perception.value}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.perception.modifier" value="{{data.attributes.perception.modifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.perception.tempModifier" value="{{data.attributes.perception.tempModifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.perception.tempValue" value="{{data.attributes.perception.tempValue}}" data-dtype="Number" placeholder="0"/></td>
                </tr>

                <tr>
                    <td>Volonté</td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.volonte.value" value="{{data.attributes.volonte.value}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.volonte.modifier" value="{{data.attributes.volonte.modifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.volonte.tempModifier" value="{{data.attributes.volonte.tempModifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.volonte.tempValue" value="{{data.attributes.volonte.tempValue}}" data-dtype="Number" placeholder="{{systemData.attributes.volonte.value}}"/></td>
                </tr>

                <tr>
                    <td>Charisme</td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.charisme.value" value="{{data.attributes.charisme.value}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.charisme.modifier" value="{{data.attributes.charisme.modifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.charisme.tempModifier" value="{{data.attributes.charisme.tempModifier}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input class="attribute-input flex-center" type="text" name="data.attributes.charisme.tempValue" value="{{data.attributes.charisme.tempValue}}" data-dtype="Number" placeholder="{{systemData.attributes.charisme.value}}"/></td>
                </tr>
            </table> 
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
                {{#each data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="item-buttons">
                        {{#each item.system.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize "SIMPLE.ItemCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "SIMPLE.ItemCreate" }}</a>
            </p>
        </div>
    </section>
</form>
