<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <!--Portrait-->
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.nom}}" height="100" width="100"/>

        <div class="header-fields">
            <!--Nom-->
            <h1 class="charname">
                <input name="nom" type="text" value="{{data.nom}}" placeholder="Nom"/>
            </h1>

            <div class="resource">
                <!--XP-->
                <div class="ressource-element" style="width: 80px;">
                    <label for="system.xp.value" class="resource-label">XP</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.xp.value" value="{{systemData.xp.value}}"/>
                    </div>
                </div>
                
                <!--Etourdissement-->
                <div class="ressource-element" style="width: 100px;">
                    <label for="system.stun.value" class="resource-label">Etourdissement</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.stun.value" value="{{systemData.stun.value}}"/>
                    </div>
                </div>

                <!--Profession-->
                <div class="ressource-element" style="width: 150px;">
                    <label for="system.profession.value" class="resource-label">Profession</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.profession.value" value="{{systemData.profession.value}}" placeholder="Profession" />
                    </div>
                </div>
                
                <!--Race-->
                <div class="ressource-element" style="width: 150px;">
                    <label for="system.race.value" class="resource-label">Race</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.race.value" value="{{systemData.race.value}}" placeholder="Race" />
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Caractéristiques</a>
        <a class="item" data-tab="skills">Compétences</a>
        <a class="item" data-tab="items">Objets</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <!--Damages-->
            <div style="display: flex;">
                <img class="img" src="systems/stargatecoalition/icons/degats.svg" title="degats" height="400" width="300"/>

                <table class="health-table">
                    <tr>
                        <th>Numéro</th>
                        <th>Partie du corps</th>
                        <th>Dégâts</th>
                    </tr>
    
                    <tr>
                        <td>2</td>
                        <td>{{systemData.health.head.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.head.value" value="{{systemData.health.head.value}}"/></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>{{systemData.health.guidingHand.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.guidingHand.value" value="{{systemData.health.guidingHand.value}}"/></td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>{{systemData.health.rightArm.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.rightArm.value" value="{{systemData.health.rightArm.value}}"/></td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>{{systemData.health.leftHand.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.leftHand.value" value="{{systemData.health.leftHand.value}}"/></td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>{{systemData.health.leftArm.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.leftArm.value" value="{{systemData.health.leftArm.value}}"/></td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>{{systemData.health.rightLeg.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.rightLeg.value" value="{{systemData.health.rightLeg.value}}"/></td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>{{systemData.health.leftLeg.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.leftLeg.value" value="{{systemData.health.leftLeg.value}}"/></td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td>{{systemData.health.leftBelly.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.leftBelly.value" value="{{systemData.health.leftBelly.value}}"/></td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>{{systemData.health.rightBelly.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.rightBelly.value" value="{{systemData.health.rightBelly.value}}"/></td>
                    </tr>

                    <tr>
                        <td>11</td>
                        <td>{{systemData.health.rightChest.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.rightChest.value" value="{{systemData.health.rightChest.value}}"/></td>
                    </tr>

                    <tr>
                        <td>12</td>
                        <td>{{systemData.health.heart.label}}</td>
                        <td><input class="health-input flex-center" type="number" name="system.health.heart.value" value="{{systemData.health.heart.value}}"/></td>
                    </tr>
                </table> 
            </div>

            <!--Biographie-->
            <div style="width: 100%; height: 300px;">
                <h1 for="system.biographie">Biographie</h1>
                {{editor biographyHTML target="system.biographie" button=true editable=editable engine="prosemirror"}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <table class="attributes-table">
                <tr>
                  <th>Nom</th>
                  <th>Score</th>
                  <th>Modif.</th>
                  <th>Score temp.</th>
                  <th>Modif. temp.</th>
                </tr>

                <tr>
                    <td class="flex-center">
                        <a class="attribute-roll flex-center" data-label="{{systemData.characteristics.force.label}}" data-formula="2d10 + {{systemData.characteristics.force.modifier}} + {{systemData.characteristics.force.tempModifier}} + {{systemData.characteristics.force.tempValue}}">
                            {{systemData.characteristics.force.label}}
                        </a>
                    </td>
                    <td><input class="attribute-input flex-center caracteristic-value" type="number" name="system.characteristics.force.value" value="{{systemData.characteristics.force.value}}"/></td>
                    <td><input class="attribute-input flex-center caracteristic-modifier" type="number" readonly="readonly" name="system.characteristics.force.modifier" value="{{systemData.characteristics.force.modifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.force.tempModifier" value="{{systemData.characteristics.force.tempModifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.force.tempValue" value="{{systemData.characteristics.force.tempValue}}"/></td>
                </tr>

                <tr>
                    <td>{{systemData.characteristics.dexterite.label}}</td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.dexterite.value" value="{{systemData.characteristics.dexterite.value}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.dexterite.modifier" value="{{systemData.characteristics.dexterite.modifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.dexterite.tempModifier" value="{{systemData.characteristics.dexterite.tempModifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.dexterite.tempValue" value="{{systemData.characteristics.dexterite.tempValue}}"/></td>
                </tr>

                <tr>
                    <td>{{systemData.characteristics.constitution.label}}</td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.constitution.value" value="{{systemData.characteristics.constitution.value}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.constitution.modifier" value="{{systemData.characteristics.constitution.modifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.constitution.tempModifier" value="{{systemData.characteristics.constitution.tempModifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.constitution.tempValue" value="{{systemData.characteristics.constitution.tempValue}}"/></td>
                </tr>

                <tr>
                    <td>{{systemData.characteristics.astuce.label}}</td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.astuce.value" value="{{systemData.characteristics.astuce.value}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.astuce.modifier" value="{{systemData.characteristics.astuce.modifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.astuce.tempModifier" value="{{systemData.characteristics.astuce.tempModifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.astuce.tempValue" value="{{systemData.characteristics.astuce.tempValue}}"/></td>
                </tr>

                <tr>
                    <td>{{systemData.characteristics.intelligence.label}}</td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.intelligence.value" value="{{systemData.characteristics.intelligence.value}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.intelligence.modifier" value="{{systemData.characteristics.intelligence.modifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.intelligence.tempModifier" value="{{systemData.characteristics.intelligence.tempModifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.intelligence.tempValue" value="{{systemData.characteristics.intelligence.tempValue}}"/></td>
                </tr>

                <tr>
                    <td>{{systemData.characteristics.perception.label}}</td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.perception.value" value="{{systemData.characteristics.perception.value}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.perception.modifier" value="{{systemData.characteristics.perception.modifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.perception.tempModifier" value="{{systemData.characteristics.perception.tempModifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.perception.tempValue" value="{{systemData.characteristics.perception.tempValue}}"/></td>
                </tr>

                <tr>
                    <td>{{systemData.characteristics.volonte.label}}</td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.volonte.value" value="{{systemData.characteristics.volonte.value}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.volonte.modifier" value="{{systemData.characteristics.volonte.modifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.volonte.tempModifier" value="{{systemData.characteristics.volonte.tempModifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.volonte.tempValue" value="{{systemData.characteristics.volonte.tempValue}}" /></td>
                </tr>

                <tr>
                    <td>{{systemData.characteristics.charisme.label}}</td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.charisme.value" value="{{systemData.characteristics.charisme.value}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.charisme.modifier" value="{{systemData.characteristics.charisme.modifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.charisme.tempModifier" value="{{systemData.characteristics.charisme.tempModifier}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.characteristics.charisme.tempValue" value="{{systemData.characteristics.charisme.tempValue}}"/></td>
                </tr>
            </table> 
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <table class="attributes-table">
                <tr>
                    <th>Nom</th>
                    <th>Caract.</th>
                    <th>Total</th>
                    <th>Points</th>
                    <th>Modif. temp.</th>
                </tr>

                <tr>
                    <td>{{systemData.skills.contactWeapon.label}}</td>
                    <td><input class="attribute-input flex-center" type="texte" name="system.skills.contactWeapon.caract" value="{{systemData.skills.contactWeapon.caract}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.skills.contactWeapon.total" value="{{systemData.skills.contactWeapon.total}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.skills.contactWeapon.points" value="{{systemData.skills.contactWeapon.points}}"/></td>
                    <td><input class="attribute-input flex-center" type="number" name="system.skills.contactWeapon.temp" value="{{systemData.skills.contactWeapon.temp}}"/></td>
                </tr>
            </table> 
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">

        </div>
    </section>
</form>
