<form class="flexcol {{cssClass}}" autocomplete="off">
    <!--Header-->
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        <div class="header-fields">
            <!--Nom-->
            <h1 class="itemName">
                <input name="name" type="text" value="{{data.name}}" placeholder="Nom"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Caractéristiques</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <!--Main-->
            <h2>Principale</h2>
            <div style="margin-bottom: 1rem;">
                <div class="col">
                    <!--Search Index-->
                    <div style="width: 50%; float: left;">
                        <label>Indice de recherche</label>
                        <input name="system.searchIndex" type="number" value="{{systemData.searchIndex}}" placeholder="Indice de recherche"/>
                    </div>
    
                    <!--Quantity-->
                    <div style="width: 50%; float: left;">
                        <label>Quantité</label>
                        <input name="system.quantity" type="number" value="{{systemData.quantity}}" placeholder="Quantité"/>
                    </div>
                </div>
            
                <!--Additionnal Rule-->
                <div style="height: 200px;">
                    <input name="system.additionalRule" type="text" value="{{systemData.additionalRule}}" placeholder="Règles additionnelles" />
                </div>
            </div>

            <!--Armor-->
            <h2>Armure</h2>
            <div style="margin-bottom: 1rem;" class="row">
                <!--Type-->
                <div style="width: 50%; float: left;">
                    <label>
                        <input type="checkbox" name="system.armor.isPhysicalArmor" {{checked systemData.armor.isPhysicalArmor}}/>Physique
                    </label>
                    <label>
                        <input type="checkbox" name="system.armor.isEnergetic" {{checked systemData.armor.isEnergetic}}/>Energétique
                    </label>
                </div>

                <!--Protection-->
                <div style="width: 30%; float: left;">
                    <label>Protection</label>
                    <input name="system.armor.protection" type="number" value="{{systemData.armor.protection}}" placeholder="Protection"/>
                </div>
            </div>
        </div>
    </section>
</form>
