<form class="flexcol {{cssClass}}" autocomplete="off">
    <!--Header-->
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        <div class="header-fields">
            <!--Nom-->
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Nom"/>
            </h1>
            <!--Type-->
            <div class="resource">
                <label>Type</label>
                <label>
                    <input type="checkbox" class="radio" value="{{systemData.isWeapon.value}}" name="system.isWeapon.value"/>Arme</label>
                <label>
                    <input type="checkbox" class="radio" value="{{systemData.isArmor.value}}" name="system.isArmor.value"/>Armure</label>
                <label>
                    <input type="checkbox" class="radio" value="{{systemData.isEquipment.value}}" name="system.isEquipment.value"/>Equipement</label>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Caractéristiques</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <label>Bonus</label>
            <input name="system.bonus.value" type="number" value="{{systemData.bonus.value}}" placeholder="Bonus"/>

            <label>Dégâts</label>
            <input name="system.damage.value" type="number" value="{{systemData.damage.value}}" placeholder="Dégâts"/>

            <label>Protection</label>
            <input name="system.protection.value" type="number" value="{{systemData.protection.value}}" placeholder="Protection"/>
        </div>
    </section>
</form>
