<form class="flexcol {{cssClass}}" autocomplete="off">
    <!--Header-->
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        <div class="header-fields">
            <!--Nom-->
            <h1 class="itemName">
                <input name="name" type="text" value="{{data.name}}" placeholder="Nom"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <!--Description-->
            <div>
                <h1>Description</h1>
                <div class="long-texte">
                    {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
                </div>
            </div>

            <div>
                <h1>Coût en XP</h1>
                <input type="number" name="system.cost" value="{{systemData.cost}}" />
            </div>
        </div>
    </section>
</form>
