<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <!--Portrait-->
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.nom}}" height="100" width="100"/>

        <div class="header-fields">
            <!--Nom-->
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Nom"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Caractéristiques</a>
        <a class="item" data-tab="energy">Energie</a>
        <a class="item" data-tab="items">Cargaison</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <!--Description-->
            <div >
                <div class="long-texte">
                    {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
                </div>
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <!--HandlingIndex-->
            <div>
                <label for="system.handlingIndex" class="resource-label">Indice de Maniabilité</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.handlingIndex" value="{{systemData.handlingIndex}}"/>
                </div>
            </div>

            <!--Firepower-->
            <div>
                <label for="system.firepower" class="resource-label">Puissance de feu</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.firepower" value="{{systemData.firepower}}"/>
                </div>
            </div>

            <!--Protection-->
            <div>
                <label for="system.protection" class="resource-label">Protection</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.protection" value="{{systemData.protection}}"/>
                </div>
            </div>

            <!--Shield-->
            <div>
                <label for="system.shield" class="resource-label">Bouclier</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.shield" value="{{systemData.shield}}"/>
                </div>
            </div>

            <!--EnergyPoints-->
            <div>
                <label for="system.energyPoints" class="resource-label">Points d'energie</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.energyPoints" value="{{systemData.energyPoints}}"/>
                </div>
            </div>

            <!--Size-->
            <div>
                <label for="system.size" class="resource-label">Taille</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.size" value="{{systemData.size}}"/>
                </div>
            </div>

            <!--Leadership-->
            <div class="resource-content flexrow flex-center flex-between">
                <input type="checkbox" name="{{system.leadership}}" {{checked system.leadership}}/>Leadership</label>
            </div>

            <!--HyperSpace-->
            <div class="resource-content flexrow flex-center flex-between">
                <input type="checkbox" name="{{system.hyperSpace}}" {{checked system.hyperSpace}}/>Hyper-Espace</label>
            </div>
        </div>

        {{!-- Energy Tab --}}
        <div class="tab energy" data-group="primary" data-tab="energy">
            <table class="energy-table">
                <tr>
                    <td>
                        <label>Boucliers</label>
                    </td>
                    <td>
                        XX
                    </td>
                    <td>
                        <a class="button"
                            style="max-width: 30px; height: 30px; margin: 10px; text-align: center;"
                            data-roll="force"><i class="fas fa-plus"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Furtivité</label>
                    </td>
                    <td>
                        XX
                    </td>
                    <td>
                        <a class="button"
                            style="max-width: 30px; height: 30px; margin: 10px; text-align: center;"
                            data-roll="force"><i class="fas fa-plus"></i></a>
                    </td>
                </tr>
            </table>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">

            <ol class="item-list">
                {{#each data.items as |item id|}}
                <div>
                    {{#if item.system.objectType.isEquipment}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <!--Image-->
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>

                        <!--Title-->
                        <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-action="edit">
                            <h4 class="item-name">{{item.name}}</h4>
                        </a>

                        <!--Description-->
                        <p>
                            {{item.system.additionalRule}}
                        </p>

                        <!--Buttons-->
                        <div class="item-controls">
                            <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                </div>
                {{/each}}
            </ol>
        </div>
    </section>
</form>
